*{
  color: red;
}
h1{
    color: blue;
}
h3{
    color: chocolate;
 }
img{
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
ul>li{
  color: chartreuse;
}
ol>li{
  color: chartreuse;
}
*{
  text-align: center;
}